requests
websockets
networkx
matplotlib
ccxt
python-dotenv
celery
simplejson
redis
websocket-client
urllib3
hiredis
aioredis
sqlalchemy

# dev
pytest

# TODO: separate dev, testing, prod envs