requests
websockets
networkx
matplotlib
python-dotenv
simplejson
redis
websocket-client
hiredis
aioredis
sqlalchemy[mypy]
rq
PyYAML
mypy

# typing
sqlalchemy-stubs
types-simplejson
types-PyYAML
types-redis
types-requests

# dev
pytest

# TODO: separate dev, testing, prod envs
